@import '~js-datepicker/dist/datepicker.min.css';

body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

div {
    max-width: 400px;
    margin: auto;
    padding: 40px 100px 40px 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div * {
    display: block;
    margin-bottom: 15px;
}

div button {
    margin-bottom: 0;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    width: 100%;
}

div p {
    font-size: 1.2em;
    font-weight: bold;
}

div input {
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}